<app-toolbar></app-toolbar>
<mat-card class="example-card">
    
    <mat-card-header>
      <img mat-card-avatar src="https://www.european-radiology.org/content-er/uploads/2020/02/corona-cell-1080-1080x675.png" alt="User Avatar">
      
      <mat-card-title>Search Quarantine Status</mat-card-title>
      <!-- <mat-card-subtitle>Covid - 19 Quarantinee Tracker</mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content style="padding-top: 5rem;">
        <mat-form-field appearance="outline">
            <mat-label>PHI Registration ID</mat-label>
            <input matInput placeholder="Placeholder" #regId>
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>PHI Registration ID</mat-hint>
          </mat-form-field>
          
    </mat-card-content>
    
    <mat-card-actions style="margin-bottom: 5%;">
      <button  mat-raised-button color="primary" (click)="search(regId.value)"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">search</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Search Quarantinees</button>
      
    </mat-card-actions>
    <mat-card-content>
        <mat-accordion   [multi]= "false">
            <mat-expansion-panel *ngFor="let quarantinee of quarantinees; let i = index;" [expanded]="indexExpanded == i" style="margin-bottom: 2%;">
              <mat-expansion-panel-header [class.card-danger]=quarantinee.hasMoved>
                <mat-panel-title>
                  {{quarantinee.name}}
                </mat-panel-title>
                <mat-panel-description>
                  {{status}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- <p>Location Status: {{location}}</p> -->
              <p>Started Date: {{quarantinee.startdate}}</p>
              <p>End Date: {{quarantinee.enddate}}</p>
              <button  mat-raised-button color="primary" *ngIf="quarantinee.hasMoved" (click)="getLocations(i)" style="margin-bottom: 2%;"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">map</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Show travelled points</button>
            <br>
              <agm-map *ngIf="quarantinee.hasMoved" 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false">

                  <agm-marker 
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng">
                      
                    <agm-info-window>
                      <strong style="color: black;">InfoWindow content</strong>
                    </agm-info-window>
                    
                  </agm-marker>
                  
                  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </agm-circle> -->

                </agm-map>
            </mat-expansion-panel>
          </mat-accordion>
          
          
    </mat-card-content>

  </mat-card>
