<mat-toolbar color="primary">
    
  
    <mat-toolbar-row>
      <span>Covid - 19 Quarantinee Tracker</span>
      <span class="example-spacer"></span>
      
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">account_circle</mat-icon>{{userId}}
      
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <button mat-menu-item>Log Out</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  



    
    
  </mat-toolbar>