<app-toolbar></app-toolbar>
<mat-card class="example-card">
    
  <mat-card-header>
    <img mat-card-avatar src="https://www.european-radiology.org/content-er/uploads/2020/02/corona-cell-1080-1080x675.png" alt="User Avatar">
    
    <mat-card-title>Covid - 19 Quarantinee Registry</mat-card-title>
    <!-- <mat-card-subtitle>Covid - 19 Quarantinee Tracker</mat-card-subtitle> -->
  </mat-card-header>
  <mat-divider></mat-divider>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    
  </mat-card-content>
  
  <mat-card-actions style="margin-bottom: 5%;margin-top: 5%;">
    <button style="margin-bottom: 2%;" mat-raised-button color="primary" (click)="addNew()"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">add_circle</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Add New Quarantinee</button>
    <button mat-raised-button color="primary" (click)="viewList()"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">view_list</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;Review Quarantinees</button>
  </mat-card-actions>
</mat-card>
